.samples {
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;

    @media only screen and (min-width: 650px) {
        width: 80%;
    }

    @media only screen and (min-width: 768px) {
        width: 70%;
    }

    @media only screen and (min-width: 1000px) {
        width: 60%;
    }

    @media only screen and (min-width: 1200px) {
        width: 50%;
    }

    .container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 5rem;
        height: 0;
        overflow: hidden;
        margin: 5rem 0; 
        box-shadow: 3px 3px 8px hsl(0, 0%, 70%);     

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }  
}



